*.vlt
*.tmp
.DS_Store
*.iml
*.ipr
*.iws
.gradle
.gradletasknamecache
.project
.settings
.idea
.classpath
.metadata/
dist/
atlassian-ide-plugin.xml
install/
out/
build/
bin/
.cache
test-output/
classes/
generated/
.vagrant/
puppet/r10k
target/
